<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Cadastro</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Cadastro</a></li>
        </ul>
    </nav>

    <h1>Sistema de Cadastro</h1>

    {%block conteudo%}{%endblock%}

    <footer><center> Desenvolvedor Igor Ramalho </center></footer>
    
</body>
</html>