<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de delivery</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/signup">Adicionar Topik</a>
            </li>
            <li>
                <a href="/lista">Listas de Topik</a>
            </li>
        </ul>
    </nav>


    <h1>{{ titulo_pagina }}</h1>

   
    {% block conteudo %}{% endblock %}
    
   
    <footer><center><b>Desenvolvido pelo Igor Ramalho</b></center></footer>
    
</body>
</html>