{% extends "base.html" %}
{% block conteudo %}


<h1>Editar Tópico</h1>

    <form method="POST" action="/editar-topik/{{x}}">
        <label for="horario">Horário:</label>
        <input type="time" id="horario" name="horario" value="{{Tempo}}"><br><br>

        <label for="motorista">Motorista:</label>
        <input type="text" id="motorista" name="motorista" value="{{Motorista}}"><br><br>

        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino" value="{{Destino}}"><br><br>

        <input type="submit" value="Editado">
    </form>

{% endblock %}