<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
            <li><a href="/listar">Lista de Funcionários</a></li>
        </ul>
    </nav>

    <h1>{{ titulo_pagina }}</h1>

    {% block conteudo %}{% endblock %}

    <footer><center> Desenvolvedor Igor Ramalho </center></footer>
    
</body>
</html>